*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: #333;
}

a{
    text-decoration: none;
    color: yellowgreen;
    font-weight: bold;
}

p{
    padding: 1.6rem 0;
}

header{
    height: 46rem;
}

header .bg-image{
   background-image: url(images/cover1.webp);
   background-size: cover;
   background-position: center;
   height: 46rem;
   width: 100%;
   opacity: 0.5;
   position: absolute;
   z-index: -1;
}

header h1{
    padding: 12rem;
    padding-bottom: 0;
}

.btn{
    display: inline-block;
    background-color:#fff;
    border: 1px solid green;
    padding: 1.2rem 1.5rem;
    margin: .5rem 0;
    border-radius: 5rem;
    transition: all 0.4s;
}

.btn:hover{
    background-color: yellowgreen;
    color: #fff;
}